

.gracias{
    width: 300px;
    position: absolute;
    top: -20%;
    left: -2%;
}

.content{
    margin-top: 90px;
    font-size: 30px;
}

.create{
    background-image: url(/Imagenes/confeti.webp);
    background-size:cover;
}